<div class="text-center">
    <h3 class="display-4">Gitmek istediğiniz sayfayı seçin...</h3>
    <a href="/RoleEnter/FourRole">Buraya giriş yetkiniz var</a>
    <a href="/RoleEnter/Security">Buraya giriş yetkiniz yok</a>
</div>