
<form method="post" class="form-group">
    <input type="text" name="userName" placeholder="Kullanıcı adını giriniz.." /><br />
    <input type="password" name="password" placeholder="Şifre giriniz.." /><br />
    <input type="submit" value="Giriş" class="btn btn-success"/>
</form>
