@model UserViewModel

    <form method="post">
        <input type="text" name="Email" value="" placeholder="Email giriniz..."/>
        <input type="text" name="Name" value="" placeholder="İsiminizi giriniz..."/>
        <input type="password" name="Password" value="" placeholder="Şifrenizi giriniz..."/>
        <input type="submit"value="Kayıt Ol" class="btn btn-success"/>
    </form>
