@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <a href="/Category/AddCategory/" class="btn btn-info">Kategori Ekle</a>
    <a href="/Blog/AddBlog/" class="btn btn-info">Blog Yaz</a>
    <a href="/User/AddUser/" class="btn btn-info">Kullanıcı Oluştur</a>
</div>
